body {
  background: black;
  color: white;
}

#navbar ul {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  border: 2px double white;
  padding: 10px;
  list-style-type: none;
  height: 50px;
}

#navbar ul li {
  transition: all 0.25s;
  align-self: center;
  padding: 10px;
}

#navbar ul li:hover {
  background-color: white;
}

#navbar ul li:hover a {
  color: black;
}

#navbar ul li a {
  transition: all 0.25s;
  color: white;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.content {
  width: 100%;
  text-align: center;
  margin-top: 75px;
}

.content h1 {
  padding-bottom: 25px;
  text-decoration: underline;
}

.content p:last-child {
  margin-bottom: 75px;
}

footer {
  display: flex;
  justify-content: space-around;
  border: 2px double white;
  list-style-type: none;
  min-height: 250px;
  flex-flow: nowrap row;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
}

footer ul li {
  text-decoration: none;
  list-style-type: none;
  line-height: 1.5em;
}

